@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

p{
    padding: 5px;
    text-indent: 15px;
    margin-bottom: 10px;
    text-align: justify;
}

h1, h2{
    margin-bottom: 15px;
    text-align: left;
    line-height: 1.2em;
}

header, section.normal{
    padding: 15px;
}

section.flex-content{
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    background-color: rgb(228, 223, 223);
}

section > .media-text{
    display: flex;
    flex-flow: row wrap-reverse;
}

article > .text{
    flex: 1 1 500px;
}

article > .media{
    flex: 1 0 500px;
}

article > div > img{
    display: block;
    margin: auto;
    width: 360px;
    padding-bottom: 10px;
}

article > div > iframe{
    width: 90%;
    padding-left: 20px;
}

section > .text-media{
    display: flex;
    flex-flow: row wrap;
}